body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  width: 100vw;
}

#root {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

header {
  display: inherit;
  flex-direction: row;
  justify-content: end;
  margin: 3rem 3rem 0;
  width: 80%;
}

.container {
  margin-top: 5rem;
  display: inherit;
  justify-content: center;
}

.flex__container-dashboard {
  display: inherit;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 3rem 3rem;
  max-height: 100%;
  height: 100%;
  overflow: hidden;
}

.flex__container-item {
  display: inherit;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.conversation {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content__scrollable-wrapper {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  height: 100%;
  max-height: 100%;
  overflow-y: hidden;
}

.content__scrollable {
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100%;
  max-height: 100%;
}

.quiz__list {
  margin-top: 0;
  display: inherit;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 40vh;
}

.quiz__list-controller {
  display: inherit;
  flex-direction: row;
  justify-content: space-between;
  justify-self: center;
  width: 30%;
  margin-bottom: 4rem;
}

form {
  display: flex;
  flex-direction: column;
}

form input {
  margin: 0.5rem 0;
  padding: 0.25rem 0 0.25rem 0.55rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
