body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  width: 100vw;
}

#root {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  gap: 1em;
  align-items: center;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: end;
  margin: 2rem 2rem 0 0;
  width: 95%;
}

header ul {
  width: 100%;
}

.clickable {
  cursor: pointer;
}

#login-form,
#register-form {
  height: 100%;
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3em;
}

#register-form {
  gap: 2.5em;
  width: 45%;
}

.auth-form-input_group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.auth-form-input_group input {
  padding-left: 1em;
}

.nav-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.container {
  height: 50%;
  width: 50%;
  margin-top: 5rem;
  display: inherit;
  justify-content: center;
}

.avatar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.avatar-wrapper {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 80px;
}

li {
  list-style-type: none;
}

.upload-button {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: #000000aa;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: opacity 0.3s ease;
}

.avatar-wrapper:hover .upload-button {
  opacity: 1;
}

.avatar-input {
  display: flex;
  flex-direction: column;
}

.dashboard-container {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin-top: 5em;
  overflow: hidden;
}

.left-box,
.right-box {
  height: 100%;
}

.left-box {
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.right-box {
  display: flex;
  flex-direction: row;
  width: 75%;
}

.dashboard-classroom {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.classroom-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  gap: 1em;
}

.classroom-user {
  height: 20%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1em;
}

.classroom-user button {
  width: 50%;
  margin-left: 2em;
}

.classroom__enroll-dropdown {
  width: 100%;
  height: 100%;
  margin-top: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.classroom__details-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2em;
}

.classroom__enroll__dropdown-items {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 75%;
  gap: 2em;
}

.classroom__enroll__dropdown-items select {
  margin-top: 0.3em;
  width: 50%;
  margin-left: 2em;
}

.classroom__enroll-details {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.classroom__info-container {
  width: 100%;
  height: 100%;
}

.classroom__info-container div {
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1.3em;
}

.classroom__enroll-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 67%;
  gap: 1em;
  margin: 1.3em 2em 0 0;
}

.classroom__enroll-button button {
  width: 50%;
}

.right__box-left {
  height: 100%;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}

.right__box-right {
  display: flex;
  height: 100%;
  width: 70%;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
}

.notification-container {
  align-items: center;
}

.notification-container div {
  width: 70%;
  margin-left: 2.3em;
}

.friend__search-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 55%;
}

.friend__search-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  height: 7%;
}

.friend__search-container input,
.friend__search-container button {
  height: 100%;
}

.result-list {
  box-sizing: border-box;
  max-height: 398px;
  min-height: 0;
  width: 175px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  transition: all 0.25s ease-in;
}

.list__entry-name {
  width: 50%;
  text-align: center;
  margin: 7px 0;
}

.result__list-entry {
  height: 35px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.list__entry-avatar {
  height: 27px;
  width: 27px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 50%;
}

.result__list-entry:hover {
  background-color: rgb(216, 214, 214);
}

.result__list-close {
  position: absolute;
  bottom: -1.8em;
  left: 4em;
}

.user-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 5%;
}

.dashboard-notifications {
  height: 30%;
  width: 100%;
}

.conversation {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  width: 100%;
  gap: 2.5em;
}

.conversation-chat__list {
  width: 35%;
  height: 100%;
}

.conversation-chat__display {
  height: 482px;
  width: 52%;
  overflow: hidden;
  border-radius: 5% 5% 0 0;
  border: 1px solid transparent;
  margin-top: 1.1em;
  transition: all 0.2s ease-in-out;
}

.chat-active,
.friendlist-open {
  border: 1px solid rgb(172, 172, 172);
}

.chat-closed,
.friendlist-closed {
  border: 1px solid transparent;
}

.content__scrollable-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 100%;
  overflow-y: hidden;
}

.chat__display-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  max-height: 100%;
  overflow-y: hidden;
}

.chatlist-container {
  display: flex;
  flex-direction: column;
  height: 102%;
  width: 100%;
  margin-bottom: 5px;
}

.chatlist-container p {
  background: rgb(216, 214, 214);
  width: 100%;
  padding: 0.5em 0 0.7em 1em;
  font-weight: 500;
  margin-bottom: 0;
  margin-top: 0;
}

.chatlist__avatar-wrapper {
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chatlist__avatar-wrapper img {
  object-fit: cover;
  width: 22px;
  height: 22px;
  border-radius: 50%;
}

.chatlist__avatar__icon-container {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  overflow: hidden;
  background-color: white;
}

.chatlist__user-status {
  margin-left: 1em;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: greenyellow;
  min-width: 0;
  min-height: 0;
}

.chat__display-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(216, 214, 214);
  height: 3.5em;
}

.chat__display__heading-avatar {
  object-fit: cover;
  width: 27px;
  height: 27px;
  border-radius: 50%;
  overflow: hidden;
}

.chat__display__heading-icon {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.chat__display__heading-text {
  padding-left: 1em;
  font-size: large;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.chat__display__heading-userinfo {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding-left: 0.4em;
  gap: 0.3em;
}

.chat__display-close {
  margin-top: 1.2em;
  margin-right: 1.5em;
  max-height: 40%;
  color: white;
  background-color: red;
  border: 1px solid white;
  border-radius: 25%;
}

.chat-form {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: relative;
  top: 2em;
}

.chat-form input {
  width: 96.7%;
  height: 2.5em;
  padding-left: 1em;
  border: 1px solid transparent;
  border-top: 1px solid grey;
}

.chat-form button {
  position: absolute;
  top: 0.7em;
  right: 1.5em;
}

.friendlist-container {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 1.5em;
  margin-top: 3em;
}

.friendlist__container-toggle {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  height: 8%;
  gap: 3em;
}

.friendlist__container-toggle button {
  height: 60%;
  width: 100%;
}

.friendlist__container-toggle span {
  width: 36%;
  height: 100%;
}

.friendlist__container-wrapper {
  display: flex;
  align-items: start;
  height: 482px;
  width: 271px;
  min-width: 0;
  border-radius: 5% 5% 0 0;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}

.friendlist__container-online {
  border-left: none;
  border-right: none;
  border-bottom: none;
  border-radius: 0%;
  height: 482px;
  width: 271px;
}

.friendlist {
  flex: 1;
  width: 100%;
  max-height: 50%;
  list-style: none;
  padding: 0;
  margin: 0;
  min-width: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.friendlist li {
  position: relative;
  padding: 0.5em 0 0.5em 1.5em;
  border: 1px solid rgb(216, 214, 214);
  border-left: 1px solid transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
  width: 100%;
}

.friendlist li:hover {
  border: 1px solid rgb(216, 214, 214);
  background-color: rgb(235, 235, 235);
}

.content__scrollable {
  flex: 1;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
}

.chat__message-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  width: 100%;
  padding: 0 1em;
}

.chat__item-sender {
  align-self: flex-end;
  text-align: right;
  padding-right: 2em;
}

.chat__item-sender p {
  text-align: left;
}

.chat__item-receiver {
  align-self: flex-start;
  text-align: left;
}

.chat-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 0.5em;
}

.message {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
  width: 35%;
  word-wrap: break-word;
}

.message p {
  word-break: break-all;
  text-align: center;
}

.chat__message-status {
  margin-right: 1em;
}

.chat__icon {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.quiz__list-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 80%;
  height: 90%;
  margin-top: 2em;
}

.quiz__list-controller {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-self: center;
  width: 45%;
  height: 3%;
  margin-bottom: 2em;
}

.quiz__list-controller button {
  width: 22%;
  height: 100%;
}

.quiz__list-display {
  width: 80%;
  height: 85%;
  margin-top: 1em;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.user__quizzes-container,
.quiz__entry__list-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.class__quizzes-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
}

#quiz-search {
  font-size: medium;
  padding-top: 5px;
  padding-left: 1em;
}

.class__quiz__list-container {
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 2.5em;
}

.class__quiz-entry {
  height: 116px;
  width: 292px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border: 1px solid rgb(48, 47, 47);
  background-color: rgb(235, 235, 235);
  margin-top: 1.5em;
}

.class__quiz-entry p {
  height: 46%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  margin-left: 3px;
  padding: 0;
  background-color: white;
  border: 1px solid rgb(48, 47, 47);
  border-radius: 5%;
}

.class__quiz-entry button {
  background-color: white;
  border: 1px solid black;
}

.user__quizzes-container {
  justify-content: flex-start;
}

.user__quizzes-top__box {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.user__quizzes-top__box input {
  height: 90%;
  width: 17%;
  font-size: medium;
  padding-top: 5px;
  padding-left: 1em;
}

.user__quiz__list-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 100%;
  height: auto;
  max-height: 95%;
  padding-top: 2em;
  gap: 1.5em;
}

.user__quiz__list-entry {
  position: relative;
  width: 27%;
  height: 114px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border: 1px solid rgb(48, 47, 47);
  background-color: rgb(235, 235, 235);
  margin-top: 1.7em;
}

.user__quiz__list-entry p {
  height: 46%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  margin-left: 3px;
  padding: 0;
  border: 1px solid black;
  background-color: white;
  border-radius: 5%;
}

.entry__buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 80%;
  width: 25%;
}

.entry__buttons-container button {
  width: 100%;
  background-color: white;
  border: 1px solid black;
  border-radius: 5%;
}

.user__quiz__list-entry p:hover,
.entry__buttons-container button:hover,
.class__quiz-entry button:hover {
  background-color: rgb(216, 214, 214);
}

.quiz__pagination-container {
  width: 35%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1.5em auto;
  right: 5%;
}

.pagination-classes {
  width: 33.4%;
}

.quiz__pagination-container div {
  width: 30px;
  height: 30px;
}

.pagination-button {
  width: 100%;
  height: 100%;
  color: rgb(48, 47, 47);
}

.pagination-button:hover {
  color: gray;
}

.quiz__form-container,
#quiz-form {
  width: 65%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2em;
  margin-top: 0.5em;
}

#quiz-form input,
.quiz__form-group span {
  font-size: medium;
}

.quiz__form-group {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.quiz__form-group select {
  width: 45%;
}

.quiz__choices-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 0.7em;
  margin-top: 1em;
}

.choice-radio {
  display: none;
}

#time-limit {
  margin-right: 0.6em;
}

.user__profile-container {
  height: 85%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2.5em;
}

.user__profile-top__box {
  height: 40%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
  align-self: start;
}

.user__profile-top__box > :first-child {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1.2em;
}

.user__profile-top__box section {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.user__profile-top__box section h1,
.edit__info-name-container h2 {
  flex: 1;
  margin: 2px 0;
  text-align: center;
  min-width: 0;
}

.user__profile-top__box section h2 {
  flex: 1;
  margin: 2px 0;
  text-align: center;
  min-width: 0;
  padding-top: 3px;
  padding-left: 5px;
}

.user__profile-avatar {
  width: 140px;
  height: 140px;
}

.modal {
  height: 2em;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
}

.modal p {
  text-align: center;
}

.modal-buttons {
  align-self: center;
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2em;
}

.user__profile-bottom__box {
  width: 90%;
  height: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.user__profile-bottom__box-content {
  height: 85%;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
}

.user__profile-bottom__box-content h4,
.user__profile-bottom__box-content h2 {
  margin: 0;
}

.user__profile-friendlist-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  gap: 1em;
}

.user__profile-friendlist-container h4 {
  text-align: center;
}

.user__profile-list {
  padding: 0;
  height: 70%;
  width: 100%;
  align-self: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  overflow-wrap: break-word;
  overflow-y: auto;
  gap: 1.5em;
  list-style: none;
}

.user__profile-list__entry {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list__item-friend {
  max-width: 27%;
  width: 27%;
  height: 40%;
  max-height: 40%;
}

.list__item-quiz {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
  max-width: 27%;
  width: 27%;
  height: 40%;
  max-height: 40%;
}

.list__item-quiz span {
  width: 100%;
}

.quiz__entry-title {
  text-align: center;
  width: 100%;
  font-weight: 500;
  word-break: normal;
  margin-bottom: 0.6em;
}

.quiz__entry-scores {
  width: 100%;
}

.quiz__entry-scores-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  padding-left: 7px;
}

.user__profile-update {
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.user__profile-update form {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5em;
}

.edit__info-avatar-container {
  position: relative;
  width: 140px;
  height: 140px;
}

.edit__info-input__group-container {
  width: 100%;
  height: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
  gap: 2em;
}

.edit__info-entry-container {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.entry-name {
  height: 71.81px;
}

.entry-email {
  height: 53px;
}

.entry-password {
  height: 116.29px;
}

.edit__info-input,
.auth-input,
.auth-form-input_group input {
  box-sizing: border-box;
  border: 2px solid transparent;
  border-bottom: 2px solid rgb(172, 172, 172);
  outline: none;
  font-size: 16px;
  transition: font-size 0.3s ease;
  transition: box-shadow 0.3s ease;
  padding-left: 0;
}

.edit__info-input:focus,
.auth-input:focus,
.auth-form-input_group input:focus {
  border-bottom: 2px solid rgba(0, 0, 0, 0.596);
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.438);
}

.password-container {
  height: 35%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.edit-password-container {
  display: flex;
  flex-direction: column;
  height: 116.28px;
  justify-content: space-between;
}

.edit__info-confirm__buttons {
  height: auto;
  width: 50%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  margin: 2.5em 0;
}

.edit__info-confirm__buttons input,
.edit__info-confirm__buttons button {
  height: 80%;
  width: 20%;
  padding: 2px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
